{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="container custom-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li><a href="/home"><img src="{% static 'image/blog1.png' %}" width="200" height="70" alt=""></a></li>
            </ul>
            <div>
                <form method="get" action="/search" class="form-inline my-2 my-lg-0 m-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                    <button class="btn btn-outline-success my-4 my-sm-0" href="/search" type="submit">Search</button>
                </form>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/newpost">New Post</a>
                        <a class="dropdown-item" href="/mypost">My Posts</a>
                        <a class="dropdown-item" href="/signout">Sign Out</a>
                    </div>
                </div>
            </form>
        </div>

    </nav>
    <br>
    
    <br>
    <div class="container custom-container" style="max-width: 1350px; ">
        <h1>My Blogs </h1>
        <br>
        {% for post in posts %}
        <article class="media content-section">

            <div class="media-body" style="border: 1px solid black; padding: 23px; margin-bottom: 10px;">

                <div class="article-metadata">
                    <!-- <h3 aligh="left">{{ post.author }} </h3>
                    <h5 aligh="right">{{ post.date_posted|date:"F d, Y" }}</h5> -->
                    <h5 class="text-uppercase" style="text-align:left;float:left; color: #000000;"> Blog by {{ post.author }}</h5>
                    <h5 style="text-align:right;float:right;">{{ post.date_posted|date:"F d, Y" }}</h5>
                    <hr style="clear:both;" />

                </div>
                <h4 style="text-align:left;float:left; color: #000000;">{{ post.title }}</h4>
                <h4 style="text-align:right;float:right;">{{ post.category }}</h4>
                <hr style="clear:both;" />
                <p class="article-content">{{ post.content }}</p>
                <p style="text-align:right;float:right;">
                    <a href="update/{{post.post_id}}/" class="my-2" style="margin-right: 20px;">Edit</a>
                    <a href="delete/{{post.post_id}}/" class="my-2">Delete</a>
                </p>
                <hr style="clear:both;" />
            </div>
        </article>
        <br>
        {% endfor %}
    </div>
</div>



{% endblock %}